@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Cookie&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');

:root{
    --fonte-cursiva: "Cookie", cursive;
    --fonte-texto: "Raleway", sans-serif;
    --fonte-extra: "Afacad", sans-serif;
    --cor-fundo: #e2eafc;
    --cor-fundo2: #edf2fb;
    --cor-roxo: #ddbdfc;
    --cor-azul: #BDE0FE;
    --cor-salmao: #FFC8DD;
    --cor-verde: #B7EFEE
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2em 1.2em;
    height: 7vh;
    background-color: var(--cor-salmao);
}

.cabecalho-titulo{
    display: flex;
    align-items: center;
    font-family: var(--fonte-cursiva);
    font-size: 1.8em;
    gap: 0.5em
}

.cabecalho-nav{
    display: flex;
    align-items: center;
    gap: 2em;
}

.cabecalho-link{
    text-decoration: none;
    font-family: var(--fonte-extra);
    font-size: 25px;
    color: black;
}

.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    height: 90vh;
    background-color: var(--cor-roxo);
    gap: 5em;
    font-family: var(--fonte-texto);
    font-size: 1.5em;
}

.apresentacao-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1.5em;
}

.apresentacao-texto h2{
    font-size: 3.2em;
    font-family: var(--fonte-cursiva);
}

.apresentacao-img{
    border: dashed 3px black;
    border-radius: 10%;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 10em;
    height: 100vh;
    gap:5em;
    background-color: var(--cor-azul);
}

.sobre-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1.5em;
    text-align: justify;
    padding-right: 3em;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
}

.sobre-texto-titulo{
    font-family: var(--fonte-cursiva);
    font-size: 3em;
}

.sobre-img{
    border: dashed 3px black;
    border-radius: 10%;
}

.atendimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-roxo);
    height: 100vh;
    padding: 4em 10em;
}

.atendimentos-titulo{
    font-family: var(--fonte-cursiva);
    font-size: 4em;
}

.atendimento-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    margin-top: 3em;
}

.atendimento-card{
    background-color: var(--cor-fundo2);
    border: dashed 3px black;
    border-radius: 10%;
    padding: 1em;
    font-family: var(--fonte-texto);
    font-size: 1em;
    max-width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.atendimento-card h4 {
    margin-bottom: 1em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atendimento-card p {
    flex-grow: 1;
    font-size: 1.1em;
    text-align: justify;
}

.galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-azul);
    height: 100vh;
    padding: 3em 10em 5em 10em;
    position: relative;
}

.galeria-titulo{
    font-family: var(--fonte-cursiva);
    font-size: 4em;
    padding-bottom: 0.5em;
}

.carrossel-container {
    position: relative;
    max-width: 60%;
    overflow: hidden;
    border: dashed 4px black;
    border-radius: 16px;
    display: flex;
    padding: 2em;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center
}

.slide img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: dashed 2px;
    padding: 1em;
    margin: 0 2em;
    cursor: pointer;
    z-index: 10;
}

.prev:hover, .next:hover{
    background-color: var(--cor-roxo);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    height: 90vh;
    background-color: var(--cor-roxo);
}

.contato-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8em;
    font-family: var(--fonte-texto);
    font-size: 2em;
}

.contato-btn-geral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    gap: 1.8em;
}

.contato-btn{
    text-decoration: none;
    font-family: var(--fonte-extra);
    font-size: 1em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px black dashed;
    border-radius: 12px;
    padding: 15px;
    width: 10em;
}

.contato-btn:hover{
    background-color: var(--cor-azul);
}

.contato-lattes{
    font-size: 1.2rem;
    margin-top: 2em;
}

.contato-lattes-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.contato-img{
    border: dashed 3px black;
    border-radius: 10%;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: var(--cor-salmao);
}

.rodape-nome{
    font-family: var(--fonte-cursiva);
    font-size: 2em;
}

.rodape-crefito{
    font-family: var(--fonte-texto);
}

@media (max-width: 768px) {
    .cabecalho-titulo {
        font-size: 1.3em;
    }

    .cabecalho-link {
        font-size: 20px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 1em 1em;
        gap: 1.2em
    }

    .apresentacao-img{
        width: 50%;
    }

    .apresentacao-texto h2 {
        font-size: 2.0em;
    }

    .sobre {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 2em 1em;
        gap: 1.2em
    }

    .sobre-texto {
        padding-right: 0;
        font-size: 1em;
    }

    .sobre-img{
        width: 50%;
    }

    .sobre-texto h2 {
        font-size: 2.5em;
    }

    .atendimentos {
        height: auto;
        padding: 2em 1em;
    }

    .atendimentos-titulo {
        font-size: 3em;
    }

    .atendimento-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 150%;
    }

    .atendimento-card h4 {
        font-size: 1.1em;
    }

    .atendimento-card p{
        font-size: 1em;
    }

    .galeria {
        height: auto;
        padding: 2em 1em;
    }

    .galeria-titulo {
        font-size: 3em;
    }

    .carrossel-container{
       position: relative;
        max-width: 80%;
        border: none;
    }

    .slide img {
        max-width: 80%;
        height: auto;
        object-fit: contain;
    }

    .contato {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 1em 1em;
    }

    .contato-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 30%;
        font-size: 1.5em;
    }

    .contato-btn-geral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contato-lattes{
        font-size: 0.8em;
    }

    .contato-img{
        margin-top: 5%;
        width: 50%;
    }
    .rodape-nome {
        font-size: 1.2em;
    }

    .rodape-crefito {
        font-size: 1em;
    }
}