@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Cookie&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');

:root{
    --fonte-cursiva: "Cookie", cursive;
    --fonte-texto: "Raleway", sans-serif;
    --fonte-extra: "Afacad", sans-serif;
    --cor-fundo: #e2eafc;
    --cor-fundo2: #edf2fb;
    --cor-roxo: #ddbdfc;
    --cor-azul: #BDE0FE;
    --cor-salmao: #FFC8DD;
    --cor-verde: #B7EFEE
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2em 1.2em;
    height: 7vh;
    background-color: var(--cor-salmao);
}

.cabecalho-titulo{
    display: flex;
    align-items: center;
    font-family: var(--fonte-cursiva);
    font-size: 1.8em;
    gap: 0.5em
}

.cabecalho-nav{
    display: flex;
    align-items: center;
    gap: 2em;
}

.cabecalho-link{
    text-decoration: none;
    font-family: var(--fonte-extra);
    font-size: 25px;
    color: black;
}

.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    height: 90vh;
    background-color: var(--cor-roxo);
    gap: 5em;
    font-family: var(--fonte-texto);
    font-size: 1.5em;
}

.apresentacao-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1.5em;
}

.apresentacao-img{
    border: dashed 4px var(--cor-azul);
    border-radius: 10%;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    height: 95vh;
    background-color: var(--cor-azul);
}



.atendimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-roxo);
    height: 95vh;

}

.atendimento-cards{
    display: flex;
    flex-direction: row;
}

.atendimentos-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul);
    height: 95vh;
}


.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    height: 90vh;
    background-color: var(--cor-roxo);
}

.contato-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8em;
    font-family: var(--fonte-texto);
    font-size: 2em;
}

.contato-btn-geral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    gap: 1.8em;
}

.contato-btn{
    text-decoration: none;
    font-family: var(--fonte-extra);
    font-size: 1em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--cor-azul) 3px dashed;
    border-radius: 12px;
    padding: 15px;
    width: 10em;
}

.contato-btn:hover{
    background-color: var(--cor-azul);
}

.contato-img{
    border: dashed 4px var(--cor-azul);
    border-radius: 10%;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: var(--cor-salmao);
}

.rodape-nome{
    font-family: var(--fonte-cursiva);
    font-size: 2em;
}

.rodape-crefito{
    font-family: var(--fonte-texto);
}

